.form-field {
  input[type="text"] {
    width: 600px;
    min-height: 44px;
    margin-bottom: 15px;
    padding: 8px 16px;
    font-size: 16px;
    line-height: 28px;
    background-color: white;
    box-shadow: $input-shadow;
    border: unset;
    border-radius: 4px;
    outline-color: $outline-color;
  }
  input[type="submit"] {
    width: 600px;
    min-height: 44px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 8px 16px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    background-color: $primary-color;
    box-shadow: $input-shadow-submit;
    border: unset;
    border-radius: 4px;
    cursor: pointer;
  }
  .task-form-label {
    display: inline-block;
    margin-right: 20px;
  }
  input[type="checkbox"] {
    margin-top: 10px;
    margin-left: 5px;
    font-weight: 600;
    background-color: $primary-color;
    transform: scale(1.2);
    cursor: pointer;
  }
  p {
    margin: 0;
  }
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: left;
  }
}
